<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- The JSON request was too large to be deserialized -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!-- !!! OWIN -->
    <!-- <add key="owin:AutomaticAppStartup" value="false" /> -->
    <add key="owin:AppStartup" value="EasyLOB.Authentication.AuthenticationConfig" />
    <!-- !!! EasyLOB Audit Trail -->
    <add key="EasyLOB.AuditTrail" value="true" />
    <!-- !!! EasyLOB Data -->
    <add key="AdoNet.RecordsBySearch" value="10" />
    <add key="AdoNet.SequencePrefix" value="" />
    <!-- !!! EasyLOB Directory -->
    <add key="Directory.Configuration" value="~/EasyLOB-Configuration" />
    <add key="Directory.Export" value="~/EasyLOB-Export" />
    <add key="Directory.Import" value="~/EasyLOB-Import" />
    <add key="Directory.Template" value="~/EasyLOB-Templates" />
    <!-- !!! EasyLOB Extensions EDM -->
    <add key="EDM.FileSystem.Directory" value="C:/EDM" />
    <add key="EDM.FTP.Server" value="www.easylob.com" />
    <add key="EDM.FTP.Port" value="21" />
    <add key="EDM.FTP.User" value="user" />
    <add key="EDM.FTP.Password" value="password" />
    <add key="EDM.FTP.Root" value="EDM" />
    <!-- !!! EasyLOB Log -->
    <add key="EasyLOB.Log" value="true" />
    <!-- !!! EasyLOB Multi-Tenant -->
    <add key="EasyLOB.MultiTenant" value="false" />
    <!-- !!! EasyLOB Report RDL -->
    <add key="Report.RDL.Url" value="http://localhost/ReportServer" />
    <add key="Report.RDL.User" value="ssrs" />
    <add key="Report.RDL.Password" value="P@ssw0rd" />
    <add key="Report.RDL.Domain" value="" />
    <!-- !!! EasyLOB Report RDLC -->
    <add key="Report.RDLC.Directory" value="~/EasyLOB-Reports/RDLC" />
    <!-- !!! EasyLOB Resources -->
    <add key="EasyLOB.Resources" value="EasyLOB.Authentication.Resources,Northwind.Resources,Northwind.Application.Resources,Northwind.Data.Resources,Northwind.Mvc.Resources" />
    <!-- !!! EasyLOB Transaction -->
    <add key="EasyLOB.Transaction" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- !!! SQL Server -->
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AuditTrail" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Identity" connectionString="Data Source=.;Initial Catalog=EasyLOB;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <!-- !!! -->
      <context type="Northwind.Persistence.NorthwindDbContext, Northwind.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Activity.Persistence.ActivityDbContext, EasyLOB.Activity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.AuditTrail.Persistence.AuditTrailDbContext, EasyLOB.AuditTrail.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.Persistence.IdentityDbContext, EasyLOB.Identity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework" disableDatabaseInitialization="true" />
      <!--
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework">
        <databaseInitializer type="EasyLOB.Identity.DatabaseInitializer, EasyLOB.IdentityEntityFramework" />
      </context>
      -->
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!-- !!! SQL Server -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Syncfusion -->
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core" publicKeyToken="632609B4D040F6B4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ.Export" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ.Mvc" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1500.0.41" newVersion="15.1500.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ.ReportViewer" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Linq.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1460.0.41" newVersion="15.1460.0.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="email@gmail.com" password="password" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- ??? Performance -->
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.6">
      <assemblies>
        <!-- Syncfusion -->
        <add assembly="Syncfusion.Compression.Base, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Core, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=632609B4D040F6B4" />
        <add assembly="Syncfusion.DocIO.Base, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Export, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Mvc, Version=15.1500.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.ReportViewer, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Linq.Base, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Pdf.Base, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=15.1460.0.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <!-- !!! Razor Errors -->
    <customErrors mode="Off" defaultRedirect="Error" />
    <!-- !!! Culture -->
    <globalization culture="auto:pt-BR" uiCulture="auto:pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime targetFramework="4.6" />
    <!-- !!! -->
    <sessionState mode="InProc" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- !!! IIS -->
    <httpErrors existingResponse="PassThrough"></httpErrors>
    <!-- !!! -->
    <modules>
      <!-- !!! -->
      <remove name="AnonymousIdentification" />
      <remove name="DefaultAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="OutputCache" />
      <remove name="WindowsAuthentication" />
      <!-- !!! -->
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <!-- !!! Globalize -->
    <!-- ??? Performance -->
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".gif" />
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>